* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-pink: #874054;
  --light-pink: #c45172;
  --purple: #522e59;
  --light-green: #e4f731;
  --dark-green: #4f4c20;
}

.App {
  min-height: 100vh;
  background-color: var(--dark-pink);
  background-color: #000814;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.page {
  margin: 0 auto;
  max-width: 1400px;
  width: 95%;
}
