* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-pink: #874054;
  --light-pink: #c45172;
  --purple: #522e59;
  --light-green: #e4f731;
  --dark-green: #4f4c20;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--dark-pink);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.page {
  max-width: 1400px;
  width: 95%;
}

.video-title {
  margin-top: 1vh;
  color: white;
  font-size: 40px;
}
