:root {
  --ease-out-quint: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.header {
  --header-gradient: linear-gradient(
    to right,
    var(--dark-blue-600) 0%,
    var(--dark-blue-500) 100%
  );

  height: var(--header-height);
  padding: 0 1rem;
  background-color: var(--dark-blue-600);
  background-image: var(--header-gradient);

  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImg {
  margin-top: 0.1rem;
  height: 2.5rem;
}

.logoText {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
  margin-left: -0.2rem;
}

.nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.navLinks {
  list-style: none;

  display: flex;
  gap: 1.3rem;
  flex-grow: 1;
}

.navLink {
  font-size: 1.5rem;
  color: var(--light-blue);
}

.navLink:is(:hover, :active) {
  color: var(--bright-blue);
}

.authButtons {
  display: flex;
  gap: 0.5rem;
}

.hamburger {
  --width: 1.7rem;
  --height: var(--width);

  display: flex;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: var(--width);
  height: var(--height);

  background: none;
  border: none;
  cursor: pointer;
}

.hamburgerLine {
  background-color: var(--light-blue);
  border-radius: 0.1rem;
  height: 0.2rem;
  width: 100%;

  transition: var(--ease-out-quint);
}

.hamburgerLine:nth-child(1) {
  transform-origin: right top;
}

.hamburgerLineActive:nth-child(1) {
  rotate: -45deg;
  translate: -0.4rem -0.1rem;
}

.hamburgerLine:nth-child(2) {
  opacity: 1;
}

.hamburgerLineActive:nth-child(2) {
  opacity: 0;
}

.hamburgerLine:nth-child(3) {
  transform-origin: right bottom;
}

.hamburgerLineActive:nth-child(3) {
  rotate: 45deg;
  translate: -0.4rem 0.1rem;
}

@media (max-width: 800px) {
  .header {
    gap: 1.5rem;
  }

  .logoText {
    display: none;
  }
}

@media (max-width: 630px) {
  .resetBtn {
    transition: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
  }

  .resetBtn:is(:hover, :active) {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: inherit;
  }

  .header {
    justify-content: space-between;
  }

  .logoText {
    display: inline;
  }

  .nav {
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 0;

    flex-direction: column;
    align-items: stretch;

    z-index: 2;
    overflow: hidden;
  }

  .navActive {
    height: calc(100vh - var(--header-height));
  }

  .navLinks {
    flex-direction: column;
    gap: 0;

    translate: 100%;
    transition: var(--ease-out-quint);
  }

  .navLinksActive {
    translate: 0;
  }

  .navLink {
    padding: 1rem;
    background-color: var(--dark-blue-600);
    cursor: pointer;
  }

  .navLink:is(:hover, :active) {
    background-color: var(--dark-blue-500);
  }

  .authButtons {
    flex-direction: column;
    justify-content: center;
    gap: 0;

    translate: 100%;
    transition: var(--ease-out-quint);
  }

  .authButtonsActive {
    translate: 0;
  }

  .authButtonOnSmallScreen {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: inherit;
  }

  .hamburger {
    display: flex;
  }

  .dimming {
    height: 100%;
    background-color: var(--dark-blue-700-transparent);

    translate: -100%;
    transition: var(--ease-out-quint);
  }

  .dimmingActive {
    translate: 0;
  }
}

@media (max-width: 400px) {
  .logoText {
    display: none;
  }
}
