.header {
  --header-gradient: linear-gradient(
    to right,
    var(--dark-blue-600) 0%,
    var(--dark-blue-500) 100%
  );

  position: relative;
  height: 3rem;
  width: 100%;
  background: var(--header-gradient);
}

.logoImg {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 2rem;
}
