.header {
  --header-gradient: linear-gradient(
    to right,
    var(--dark-blue-600) 0%,
    var(--dark-blue-500) 100%
  );

  height: var(--header-height);
  padding: 0 1rem;
  width: 100%;
  background-color: var(--dark-blue-600);
  background-image: var(--header-gradient);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  height: 2rem;
}

.authButtons {
  display: flex;
  gap: 0.5rem;
}
