.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  column-gap: 0.3rem;
  row-gap: 1.35rem;
  justify-content: center;
  min-height: auto;
}

.video {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 0.5rem;
  align-items: start;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.6rem;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  text-align: left;
  color: white;
}

.message {
  color: white;
  text-align: center;
  font-size: 2rem;
}
