.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 13.125rem);
  column-gap: 0.3rem;
  row-gap: 1.35rem;
  justify-content: center;
  min-height: auto;
}

.message {
  color: white;
  text-align: center;
  font-size: 2rem;
}
