.indexPage {
  display: grid;
  gap: 1rem;

  grid-template-areas:
    "video"
    "title"
    "buton";
}

.todaysVideo {
  grid-area: video;
}

.videoTitle {
  grid-area: title;
  justify-self: center;
}

.collectButton {
  --padding: 3rem;

  grid-area: buton;
  align-self: center;
  justify-self: center;

  padding-left: var(--padding);
  padding-right: var(--padding);
  font-size: 2rem;
}
