.indexPage {
  display: grid;
  gap: 1rem;

  grid-template-areas:
    "video video"
    "title buton";
}

.todaysVideo {
  grid-area: video;
}

.videoTitle {
  grid-area: title;
  justify-self: center;
}

.collectButton {
  grid-area: buton;
  align-self: center;
  justify-self: center;
}
