.videoTitleWrapper {
  min-height: 3rem;
}

.videoTitle {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  color: white;
  font-family: "Roboto", sans-serif;
}

.videoTitlePlaceholder {
  display: block;
  height: 3rem;
  background-color: var(--dark-blue-500);
}
