.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* equals 16:9 */
  height: 0;
}

.video,
.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* of padding-bottom of videoWrapper */
}

.videoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  color: var(--light-green);
  font-size: 1.5rem;
}

.character {
  font-family: "Roboto", sans-serif;
  animation: loading infinite linear;
}

@keyframes loading {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 0 0.2rem;
  }
  75% {
    translate: 0 -0.2rem;
  }
  100% {
    translate: 0 0;
  }
}
